[connectivity]
nk=krnl_data_mover:1:krnl_data_mover

slr = krnl_data_mover:SLR0

sp = krnl_data_mover.m_axi_mem_in0:MC_NOC0
sp = krnl_data_mover.m_axi_mem_in1:MC_NOC0
sp = krnl_data_mover.m_axi_mem_out:MC_NOC0

stream_connect = krnl_data_mover.s0_0:ai_engine_0.stream_in_a
stream_connect = krnl_data_mover.s1_0:ai_engine_0.stream_in_b
stream_connect = ai_engine_0.stream_out_c:krnl_data_mover.s2_0


[vivado]
# use following line to improve the hw_emu running speed affected by platform
prop=fileset.sim_1.xsim.elaborate.xelab.more_options={-override_timeprecision -timescale=1ns/1ps}
